HTTP-WiFi/.settings/
HTTP-WiFi/.cproject
HTTP-WiFi/.project
HTTP-WiFi/build/
HTTP-WiFi/sdkconfig
HTTP-WiFi/sdkconfig.old
NeoPixel/.settings/
NeoPixel/.cproject
NeoPixel/.project
NeoPixel/build/
NeoPixel/sdkconfig
NeoPixel/sdkconfig.old
