[submodule "NeoPixel/components/Adafruit_NeoPixel_ESP8266_RTOS_SDK"]
	path = NeoPixel/components/Adafruit_NeoPixel_ESP8266_RTOS_SDK
	url = https://github.com/notabucketofspam/Adafruit_NeoPixel_ESP8266_RTOS_SDK.git
[submodule "HTTP-WiFi/components/Adafruit_NeoPixel_ESP8266_RTOS_SDK"]
	path = HTTP-WiFi/components/Adafruit_NeoPixel_ESP8266_RTOS_SDK
	url = https://github.com/notabucketofspam/Adafruit_NeoPixel_ESP8266_RTOS_SDK.git
