HTTP-WiFi/.settings/
HTTP-WiFi/.cproject
HTTP-WiFi/.project
HTTP-WiFi/eclipse_make.py
HTTP-WiFi/build/
HTTP-WiFi/sdkconfig
HTTP-WiFi/sdkconfig.old
HTTP-WiFi/util
NeoPixel/.settings/
NeoPixel/.cproject
NeoPixel/.project
NeoPixel/eclipse_make.py
NeoPixel/build/
NeoPixel/sdkconfig
NeoPixel/sdkconfig.old
NeoPixel/util
